# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Firebase / Secrets
firebase_key.json
firebase_config.py
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

firebase_key.json